In [12]:
from sklearn import ensemble
from sklearn.model_selection import train_test_split

import pandas as pd
df = pd.read_csv('source/churn-bigml-20.csv')
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,LA,117,408,No,No,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,False
1,IN,65,415,No,No,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,True
2,NY,161,415,No,No,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,True
3,SC,111,415,No,No,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,False
4,HI,49,510,No,No,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,False

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 667 entries, 0 to 666
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   State                   667 non-null    object
 1   Account length          667 non-null    int64
 2   Area code               667 non-null    int64
 3   International plan      667 non-null    object
 4   Voice mail plan         667 non-null    object
 5   Number vmail messages   667 non-null    int64
 6   Total day minutes       667 non-null    float64
 7   Total day calls         667 non-null    int64
 8   Total day charge        667 non-null    float64
 9   Total eve minutes       667 non-null    float64
 10  Total eve calls         667 non-null    int64
 11  Total eve charge        667 non-null    float64
 12  Total night minutes     667 non-null    float64
 13  Total night calls       667 non-null    int64
 14  Total night charge      667 non-null    float64
 15  Total intl minutes      667 non-null    float64
 16  Total intl calls        667 non-null    int64
 17  Total intl charge       667 non-null    float64
 18  Customer service calls  667 non-null    int64
 19  Churn                   667 non-null    bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 99.8+ KB

In [13]:
target = df.Churn

df = df.join(pd.get_dummies(df['International plan'], prefix='international'))
df = df.join(pd.get_dummies(df['Voice mail plan'], prefix='voicemail'))

data = df.drop(['International plan', 'Voice mail plan', 'State', 'Area code', 'Churn'], axis = 1)

data.head()

,Account length,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,international_No,international_Yes,voicemail_No,voicemail_Yes
0,117,0,184.5,97,31.37,351.6,80,29.89,215.8,90,9.71,8.7,4,2.35,1,1,0,1,0
1,65,0,129.1,137,21.95,228.5,83,19.42,208.8,111,9.40,12.7,6,3.43,4,1,0,1,0
2,161,0,332.9,67,56.59,317.8,97,27.01,160.6,128,7.23,5.4,9,1.46,4,1,0,1,0
3,111,0,110.4,103,18.77,137.3,102,11.67,189.6,105,8.53,7.7,6,2.08,2,1,0,1,0
4,49,0,119.3,117,20.28,215.1,109,18.28,178.7,90,8.04,11.1,1,3.00,1,1,0,1,0

In [14]:
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=12, test_size=0.2)

In [15]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_jobs=-1, random_state=321)
clf.fit(data, target)
y_pred = clf.predict(X_test)

pd.crosstab(y_test, y_pred)

col_0  False  True
Churn
False    117     0
True       0    17

In [17]:
clf.score(X_test, y_test)
y_probas = clf.predict_proba(X_test)

1.0

In [ ]:
from matplotlib.pylab import plt
# Das habe ich nicht: from scikitplot
#cumulative lift curve

In [ ]:
""" Voting Classifyer
Is also an ensemble classifier. It is used to combine a heterogeneous set of methods to get the best out of all of them.
Hard vote: Final label is what is predicted most frequently
Soft vote: everybode predicts, average over prediction wins. (Only recommanded if well calibrated)

Stacking: 
Use basic estimators with parameters, evaluate using cross-validation and then build another method on top of it. 
'Meta-learning algorithm'"""

In [19]:
from sklearn.ensemble import StackingClassifier, VotingClassifier, RandomForestClassifier
from sklearn.model_selection import train_test_split, cross_validate, KFold
from sklearn.metrics import f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

import pandas as pd
df = pd.read_csv('source/diabetes.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [22]:
target = df.Outcome
data = df.drop(['Outcome'], axis = 1)
data.head()

X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.3, random_state=4)

In [24]:
clf_nn = KNeighborsClassifier(n_neighbors=3)
clf_rf = RandomForestClassifier(random_state=123)
clf_lr = LogisticRegression(max_iter=1000)

vclf = VotingClassifier([('knn', clf_nn), ('rf', clf_rf), ('lr', clf_lr)], voting='hard')

In [25]:
cv3 = KFold(n_splits=3, random_state=111,shuffle=True)
for clf, label in zip([clf_nn, clf_rf, clf_lr, vclf], ['KNN', 'Random Forest', 'Logistic Regression', 'Voting Classifier']):
    scores = cross_validate(clf, X_train, y_train, cv=cv3, scoring=['accuracy','f1'])
    print("[%s]: \n Accuracy: %0.2f (+/- %0.2f)" % (label, scores['test_accuracy'].mean(), scores['test_accuracy'].std()),
          "F1 score: %0.2f (+/- %0.2f)" % (scores['test_f1'].mean(), scores['test_f1'].std()))

[KNN]:
 Accuracy: 0.71 (+/- 0.02) F1 score: 0.58 (+/- 0.02)
[Random Forest]:
 Accuracy: 0.76 (+/- 0.03) F1 score: 0.63 (+/- 0.04)
[Logistic Regression]:
 Accuracy: 0.76 (+/- 0.02) F1 score: 0.61 (+/- 0.05)
[Voting Classifier]:
 Accuracy: 0.77 (+/- 0.00) F1 score: 0.64 (+/- 0.02)

In [26]:
sclf = StackingClassifier(estimators=[('knn', clf_nn), ('rf', clf_rf), ('lr', clf_lr)], final_estimator=clf_lr)

scores = cross_validate(sclf, X_train, y_train, cv=cv3, scoring=['accuracy', 'f1'])
    
print("[StackingClassifier]: \n Accuracy: %0.2f (+/- %0.2f)\n" % (scores['test_accuracy'].mean(), scores['test_accuracy'].std()),
      "F1 score: %0.2f (+/- %0.2f)" % (scores['test_f1'].mean(), scores['test_f1'].std()))

[StackingClassifier]:
 Accuracy: 0.76 (+/- 0.02)
 F1 score: 0.62 (+/- 0.04)

In [27]:
vclf.fit(X_train, y_train)
sclf.fit(X_train, y_train)

print("Acc :", vclf.score(X_test, y_test))
print("Acc :", sclf.score(X_test, y_test))

Acc : 0.8138528138528138
Acc : 0.8008658008658008

In [28]:
clf_rf.fit(X_train, y_train)

print("Acc :", clf_rf.score(X_test, y_test))

Acc : 0.7878787878787878